* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgb(239, 71, 41);
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(50, 47, 47);
    color: #ffffff;
}

.container {
    padding: 20px 10%;
}

p {
    font-size: 16px;
}

.section-title {
    margin-top: 80px;
    font-size: 56px;
    font-weight: 600;
    text-align: left;
}

.subtitle {
    margin-top: 4px;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

header {
    background-color: rgb(50, 47, 47);
    padding: 20px 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

header #logo {
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    transition: 0.5s;
}

header #logo:hover {
    color: #2b8be6;
}

header ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

header ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    position: relative;
}

header ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: rgb(239, 71, 41);;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

header ul li a:hover::after {
    width: 100%;
}

/* <!-- -------------home------------- --> */
#home {
    width: 100%;
    height: 100vh;
}
.home_in{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.home-text {
    width: 100%;
    height: 25vh;
    margin-top:15%;
    text-align: center;
    background-color: rgb(239, 71, 41);;
} 

.home-text h1 {
    font-size: 150px;
}

.home-text h2 {
    font-size: 35px;
    margin-bottom: 50%;
}

.home_learn_more{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.home_learn_more a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding: 20px 50px;
    background-color: rgb(239, 71, 41);;
    color: #ffffff;
    border-radius: 25px;
    border: 0;
    transition: 0.5s;
}



/* <!-- -------------cel aplikacji------------- --> */
#cel_aplikacji {
    width: 100%;
    height: 100vh;
}

.cel_aplikacji_in{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}
.cel_header{
    display: flex;
    width: 70%;
    height: 20%;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}
.cel_content{
    display: flex;
    flex-direction: column;
    background-color: rgb(239, 71, 41);;
    width: 70%;
    height: 70%;
    align-items: center;
    justify-content: center;
}
.cel_content p{
    margin: 2%;
    margin-bottom: 3%;
    font-size: 30px;
}
.cel_content_list{
    position: relative;
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}
.list_header{
    position: absolute;
    top:0;
    display: flex;
    width: 100%;
    height:20%;
    align-items: center;
    justify-content: center;
}
.list_header p{
    font-size: 50px;
}
.list{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 35px;
    margin: 3%;
}
.list li{
    margin:3%;
}
/* <!-- -------------opis_dzialania------------- --> */
#opis_dzialania {
    width: 100%;
    height: 100vh;
}
.opis_dzialania_in{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
}
.opis_header{
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}
.opis_content{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
}
.opis_kafelki{
    display: flex;
    width: 100%;
    height: 50%;
}
.kafelki_in{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5%;
    background-color: rgb(239, 71, 41);
}
.kafelki_in p{
    font-size: 30px;
    margin: 3%;
}
/* <!-- -------------biblioteki------------- --> */
#biblioteki {
    width: 100%;
    height: 100vh;
}

.biblioteki_in{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}
.biblioteki_header{
    display: flex;
    width: 70%;
    height: 20%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}
.biblioteki_content{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    align-items: center;
    justify-content: center;
}
.biblioteki_content p{
    font-size: 30px;
}
.biblioteki_content_list{
    position: relative;
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 71, 41);
}

/* <!-- -------------podejscia------------- --> */
#podejscia {
    width: 100%;
    height: 100vh;
}
.podejscia_in{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    align-items: center;
}

.podejscia_header{
    display: flex;
    width: 100%;
    height: 20%;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}
.podejscia_content{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    background-color: rgb(239, 71, 41);
    align-items: center;
    justify-content: center;
}
.podejscia_content li{
    font-size: 30px;
    margin: 2%;
}



/* <!-- -------------extract------------- --> */
#extract{
    display: flex;
    margin-top: 3%;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.extract_in{
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.button_section {
    display: flex;
    width: 50%;
    height: 25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(239, 71, 41);
    border-radius: 25px;
}
.button_header{
    display: flex;
    position: top;
    width: 100%;
    height: 30%;
    padding: 3px;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}
.button_button{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
}
.button_button form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.button_button input{
    display: flex;
    font-size: 30px;
    padding: 5px;
    background: rgba(50, 47, 47);
    color: #ffffff;
    border: none;
    border-bottom: 1px solid rgb(50, 47, 47);
}
.button_button button{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(50, 47, 47);
    color: #ffffff;
    border-radius: 5px;
    border: 0;
    transition: 0.5s;
    margin: 3%;
}

.button_button p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

/* <!-- -------------data------------- --> */
.data_body {
    background: rgb(50, 47, 47);
    color: #ffffff;
    overflow: hidden;
}
#data{
    display: flex;
    margin-top: 3%;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 47, 47);
}

.data_in{
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.data_section{
    display: flex;
    width: 65%;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(34, 33, 33);
    border-radius: 3px;
}

.data_header{
    display: flex;
    position: top;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.data_list{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
    p {
        padding: 6px 4px 6px 4px;
        color:white; 
        text-decoration:none; 
    }

    p::before {
        content: '| '
    }

}

.product {
    width: 90%;
    margin: 2%;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(239, 71, 41);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product_info{
    display: flex;
    background-color: rgb(239, 71, 41);
    align-items: center;
    justify-content: flex-start;
}
.downloader{
    font-weight: bold;
    color:white; 
    text-decoration:none; 
    cursor:pointer;     
}


/* <!-- -------------opinions------------- --> */
.opinions{
    width: 100%;
    height: 100vh;
}
.opinions_header{
    text-decoration: none;
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(239, 71, 41);
}
.opinions_header p{
    color:white; 
    text-decoration:none; 
    cursor:pointer; 
    font-size: 30px;
    font-weight: bold;
}
.opinions_header a{
    color:white; 
    text-decoration:none; 
    cursor:pointer; 
    font-size: 30px;
    font-weight: bold;
}
.opinions_header2{
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
}
.opinions_header2 p{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}

.opinions_tabela{
    display: flex;
    width: 95%;
    height: 94%;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
}
.opinions_tabela table {
    border-collapse: collapse;
    width: 100%;
}
.opinions_tabela th, td {
    border: 1px solid rgb(239, 71, 41);
    padding: 8px;
    text-align: left;
}