<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
    <title>About</title>

</head>
<body class="body_about">
    <div id="home">
        <div class="container">
            <header>
                    <ul id="navigation-menu">
                        <li><a href="/">HOME PAGE</a></li>
                        <li><a href="/extract">EXTRACT</a></li>
                        <li><a href="/data">PRODUCTS</a></li>
                        <li><a href="/about">ABOUT</a></li>
                    </ul>
            </header>
        </div>
        <div class="about">
            <div class="about_in">
                <div class="about_photo">
                    <img src="{{ url_for('static', filename='images/kacper.png') }}">
                </div>
                <div class="about_content">
                    <div class="about_header">
                        <p>Kacper Knapczyk</p>
                    </div>
                    <div class="about_info">
                        <p>My name is Kacper Knapczyk, I'm 19 years old, and I've been fascinated by computers since I was a kid. 
                            During my childhood I admired individuals creating computer games, and I was always curious about how they are "written".</p>
                    </div>
                    <div class="about_hobby">
                        <ul>
                            <li><span>University</span><br>Cracow University of Economics</li>
                            <li><span>Field of study</span><br>Applied Informatics</li>
                            <li><span>Why this field</span><br>I've chosen this field of study because I plan to fulfill my childhood dream and possibly become a computer game developer.</li>
                            <li><span>Expectations</span><br>From my studies, I primarily expect to learn how to navigate through adult life and various programming languages. I hope that in the future, thanks to these studies, I will achieve success.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>