<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
    <!--<link rel="stylesheet" href="style.css">-->

</head>
<body>
    <div id="home">
        <div class="container">
            <header>
                    <ul id="navigation-menu">
                        <li><a href="/">HOME PAGE</a></li>
                        <li><a href="/extract">EXTRACT</a></li>
                        <li><a href="/data">PRODUCTS</a></li>
                        <li><a href="/about">ABOUT</a></li>
                    </ul>
            </header>
        </div>
    </div>

    <div id="cel_aplikacji">
        <div class="container">
            <h>about</h>
        </div>
    </div>

</body>
</html>