<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
    <title>Wykresy</title>
</head>
<body>
    <div class="charts">
        <div class="charts_in">
            <div class="charts_header">
                <div>
                    <a href="/data/{{ product_id }}">POWRÓT</a>
                </div>
            </div>
            <div class="charts_header2">
                <p>WYKRESY</p>
            </div>
            <div class="charts_content">
                <div class="pie_chart">
                    <!--<img src="pie_chart_160753591.png" alt="" width="800" height="600">-->
                    <img src="{{ url_for('static', filename='images/pie_chart_' + product_id + '.png') }}" alt="Wykres opinii" width="1000" height="600">
                </div>
                <div class="bar_chart">
                    <!--<img src="pie_chart_160753591.png" alt="" width="800" height="600">-->
                    <img src="{{ url_for('static', filename='images/bar_chart_' + product_id + '.png') }}" alt="Wykres opinii" width="800" height="600">
                </div>       
            </div>
        </div>
    </div>
</body>
</html>
