<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wykresy</title>
</head>
<body>
    <div>
        <h2>Wykresy dla produktu o ID: {{ product_id }}</h2>
        
        <h3>Liczba opinii z poszczególnymi ocenami:</h3>
        
        <p>Ilość opinii:{{current_product_opinions}} </p>
        <p>Liczba wszyskich opini: {{ all_liczba_opini }}</p>
        <p>Dane o ocenach: {{ data_ocena }}</p>
    </div>
</body>
</html>
