<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="extract">
        <div class="extract_in">
            <header>
                    <ul id="navigation-menu">
                        <li><a href="/">HOME PAGE</a></li>
                        <li><a href="/extract">EXTRACT</a></li>
                        <li><a href="/data">PRODUCTS</a></li>
                        <li><a href="/about">ABOUT</a></li>
                    </ul>
            </header>
            <div class="button_section">
                <div class="button_header">
                    <h1>Dodaj produkt</h1>
                </div>
                <div class="button_button">
                    <form action="/add_product" method="POST">
                        <input type="text" name="product_id" placeholder="ID produktu">
                        <button type="submit">Dodaj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>