<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="home">
        <div class="container">
            <header>
                    <ul id="navigation-menu">
                        <li><a href="#home">HOME PAGE</a></li>
                        <li><a href="#ranking">EXTRACT</a></li>
                        <li><a href="#charts">CHARTS</a></li>
                        <li><a href="#about">ABOUT</a></li>
                    </ul>
            </header>
            <div class="home-text">
                <h1>Projekt PP2</h1>
                <h2>strona testowa</h2>
            </div>

        </div>
    </div>

    <div id="extract">
        <div class="container">
        
        </div>
    </div>

</body>
</html>